# SETTINGS

SECRET_KEY = "CHANGE-ME"
SECRET_KEY_CARD = "CHANGE-ME"
SALT = "CHANGE-ME"
# 0 False, 1 True
DEBUG = "1"

# Comma Separated values
ALLOWED_HOSTS = "127.0.0.1, localhost, 0.0.0.0"

# pyTEST
DJANGO_SETTINGS_MODULE = 'core.settings'

# POSTGRES
DB_ENGINE = "django.db.backends.postgresql"
POSTGRES_DB = "CHANGE-ME"
POSTGRES_USER = "CHANGE-ME"
POSTGRES_PASSWORD = "CHANGE-ME"
POSTGRES_HOST = "host.docker.internal"
POSTGRES_PORT = "5432"

# DJANGO SUPER USER
SUPERUSER_USERNAME = 'maistodos'
SUPERUSER_PASSWORD = 'maistodos'
SUPERUSER_EMAIL = 'maistodos@maistodos.com.br'
